[Unit]
Description=Add wheel members to the libvirt and incus-admin groups
ConditionPathExists=/usr/bin/bluespin-dx-groups

[Service]
Type=oneshot
ExecStart=/usr/bin/bluespin-dx-groups
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
